[user]
	name = Aleksey Ivanovsky
	email = alexei.ivanovski@gmail.com

[alias]
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
